<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.ReportMapper">


    <select id="sumOrderAmountByStatusAndDate" resultType="java.lang.Double">
        select ifnull(sum(amount),0) from orders
        <where>
            <if test="status != null">and status = #{status}</if>
            <if test="date != null">and date(order_time) = #{date}</if>
        </where>
    </select>
    <select id="countOrderByStatusAndDate" resultType="java.lang.Integer">
        select count(*) from orders
        <where>
            <if test="status != null">and status = #{status}</if>
            <if test="date != null">and date(order_time) = #{date}</if>
        </where>
    </select>
    <select id="countUserByDate" resultType="java.lang.Integer">
        select count(*) from user
        <where>
            <if test="date != null">and date(create_time) = #{date}</if>
        </where>
    </select>

        <select id="top10" resultType="com.sky.dto.GoodsSalesDTO">
            select od.name, sum(od.number) as number from orders o join order_detail od on o.id = od.order_id
            where o.status = 5 and date(o.order_time) between #{begin} and #{end}
            group by od.name
            order by number desc
                limit 10
        </select>

</mapper>
